*.class
*.jar
*.war
*.ear
.classpath
.project
.settings
.gradle
build
*.iml
*.ipr
*.iws
*.swp
*.DS_Store
.idea
.vscode
catalina.base_IS_UNDEFINED/
keystore.jks
bin/
.lock
corevance-provider/out/
corevance-provider/config/swagger/config.json
corevance-provider/config/swagger/corevance-input.yaml
licenses
**/.asciidoctor/images/*
**/.asciidoctor/diagram/*
**/images/diag-*.svg

corevance-provider/src/main/generated/

**/out/
gradleExp/

.run/
.java-version

.windsurf/
